# Ignore Gradle project-specific cache directory
product/.gradle

# Ignore Gradle build output directory
product/build
product/bin
product/build
product/.classpath
product/.project
product/.gradle
product/.settings
product/.idea
product/*.log
